*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.Juego {
    max-width: 600px;
    margin: 100px auto;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Puntuacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.Opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.opciones button {
    margin: 0 10px;
}